.Card--wrapper {
  margin: 45px 40px 0px;

  display: flex;
  align-items: center;
}
.Card--info-wrapper {
  margin-left: 19px;
  /* margin-top: auto; */
}
.Card--location--wrapper {
  height: 13px;
  display: flex;
  align-items: center;
}
.Card--location--icon {
  max-height: 9.545px;
  max-width: 7px;
}
.Card--location--text {
  margin-left: 4px;

  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.741px;
}

.Card--location--link {
  padding: 12px;

  color: #918e9b;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.Card--image {
  height: 168px;
  width: 125px;
}

.Card--name {
  margin-top: 7px;
  margin-bottom: 0px;
  height: 40px;

  color: #2b283a;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Card--dates {
  margin-top: 7px;

  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Card--text {
  width: 326px;

  color: #2b283a;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15.36px */
}
